{% load static %}

<nav class="pc mobile">
  <img class="mobileImg" onclick="openMenu()" src="{% static 'img/controlpanel.png' %}" alt="Menu">
  <div id="openMobileMenu" class="mobileMenu pcMenu">

    {% if user.is_authenticated %}
    <p id="greeting">Hi, {{ user.username }}!</p>
    {% block super %}
      <div class="effect">
        <a href="{% url 'logout' %}" title="Get the fuck outta heeeeeere"><p>Log Out</p><img src="{% static 'img/logout.png' %}" class="mobileIcon" alt="Log Out"></a>
        <div class="beam"></div>
      </div>
      <div class="dropdown" onclick="openDropdown()">
        <div class="effect">
          <a><p>Data</p><img src="{% static 'img/monitor.png' %}" class="mobileIcon" alt="Data"></a>
          <div class="beam"></div>
        </div>
        <div class="dropdownContent" id="mobileDropdown">
          <div class="effect">
            <a href="{% url 'inventory' %}" title="View your entire Inventory">Inventory</a>
            <div class="beam"></div>
          </div>
          <div class="effect">
            <a href="{% url 'ff' %}" title="View your equipment, etc.">F&F</a>
            <div class="beam"></div>
          </div>
          <div class="effect">
            <a href="{% url 'assets' %}" title="View your assets">Assets</a>
            <div class="beam"></div>
          </div>
          <div class="effect">
            <a href="{% url 'liabilities' %}" title="View your liabilities">Liabilities</a>
            <div class="beam"></div>
          </div>
          <div class="effect">
            <a href="{% url 'revexpoe' %}" title="View your Revenue, Expenses, and Owners Equity">RevExpOE</a>
            <div class="beam"></div>
          </div>
          <div class="effect">
            <a href="{% url 'reports' %}" title="View your Income Report, Statement of Owners Equity, and Balance Sheet">Reports</a>
            <div class="beam"></div>
          </div>
          <div class="effect">
            <a href="{% url 'admin:index' %}" target="_blank" title="Go to the backend">Admin</a>
            <div class="beam"></div>
          </div>
        </div>
      </div>
    {% endblock %}
   {% else %}
      <p>Logged Out</p>
      <div class="effect">
        <a href="{% url 'login' %}" title="Enter...if you dare." placeholder="Log In"><p>Log In</p><img src="{% static 'img/login.png' %}" class="mobileIcon" alt="Log In"></a>
        <div class="beam"></div>
      </div>
  {% endif %}
  <div class="effect">
    <a href="{% url 'articles' %}" title="See current Articles"><p>Articles</p><img src="{% static 'img/articles.png' %}" class="mobileIcon" alt="Articles"></a>
    <div class="beam"></div>
  </div>
  <div class="effect">
    <a href="{% url 'shop' %}" title="See items for sale"><p>Shop</p><img src="{% static 'img/shop.png' %}" class="mobileIcon" alt="Shop"></a>
    <div class="beam"></div>
  </div>
  <div class="effect">
    <a href="{% url 'about' %}" title="Contact info, Terms of Service, Social Links, etc."><p>About</p><img src="{% static 'img/about.png' %}" class="mobileIcon" alt="About"></a>
    <div class="beam"></div>
  </div>
  <div class="effect">
    <a href="{% url 'index' %}" title="Back to the Main Page"><p>Home</p><img src="{% static 'img/homeIcon.png' %}" class="mobileIcon" alt="Home"></a>
    <div class="beam"></div>
  </div>
</div>
</nav>

