@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script&family=Amatic+SC:wght@700&family=Griffy&family=Zen+Kurenaido&family=Cinzel&display=swap');

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 599px) {
  /* 
  ===============
  For Mobile: 
  ===============
  */

  body.mobile{
    font-family: Zen Kurenaido, Arial;
  }
  body.mobile header{
    background: url("../img/wormholeLogo.png") center no-repeat;
    height: 500px;
    width: 100%;
    text-align: center;
  }
  body.mobile h1.title{
    clear: both;
    text-align: center;
    font-family: Cinzel;
    font-variant: small-caps; 
    border-bottom: 2px dotted black;
    border-top: 2px dotted black;
  }

  /* Main Nav */
  nav.mobile{
    width: 100%;
    height: 7%;
    bottom: 1%;
    position: fixed;
    z-index: 1;
  }
  nav.mobile img.mobileImg{
    width: 10%;
    background: black;
    border-radius: 50px;
  }
  nav.mobile img.mobileImg:active{background: red;}
  nav.mobile div.mobileMenu{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0%;
  }
  nav.mobile div.mobileMenu a{
    color: green;
    float: left;
    margin: 2%;
  }
  nav.mobile div.mobileMenu a p{display: none;}
  nav.mobile div.mobileMenu a img.mobileIcon{
    width: 50px;
    padding: 2%;
    background: white;
    border-radius: 50px;
    float: left;
  }
  nav.mobile div.mobileMenu a img.mobileIcon:active{background: red;}

  nav.mobileNavSub{
    width: 100%;
    height: 30px;
    border-radius: 25px;

  }
  nav.mobileNavSub div.effect{
    height: 100%;
    width: 100%;
    margin: 0 2%;
    text-align: center;
    float: left;
  }
  nav.mobileNavSub div.effect a{
    color: black;
    margin: 0 2%;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
  }
  nav.mobileNavSub div.effect a:active{transform: scale(2, 1);}


  /* Dropdown Content */
  div.dropdown div.dropdownContent{
    display: none;
    position: absolute;
    width: 200px;
    margin: 100%;
    padding: 60%;
  }
  div.dropdown div.dropdownContent a{
    overflow: hidden;
    width: 0%;
    text-align: center;
    background: black;
    float: left; 
    clear: left;
    animation: mobileAnime 1s forwards;
  }
  @keyframes mobileAnime{
    from {}
    to {width: 100%;}
  }

  /* Index Layout */
  aside div#twitch-playlist{
    width: 450px;
    height: 180px;
  }

  /*About Page*/
  /*Profile Card Style*/
  .profileCard{
    margin: 5% 0;
    padding: 1%;
    border: 2px solid black;
    transition: 1s;
    text-align: center;
    box-shadow: 5px 5px 5px black;
  }
  .profileCard a img{
    width: 10%;
    margin: 2%;      
  }
  .profileCard a img:active{
    background: black;
    border-radius: 25px;
  }

  .polaroid{
    display: none;
  }
  .polaroid2{
    display: none;
  }

  /*Article Page*/
  /* Article Preview */
  div.preview{/* Generic Main Content Layout */
    height: 100%;
    margin: 2% 0;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
  }
  div.preview small{padding: 0; float: left; clear: left;}
  div.preview img{
    padding-bottom: 5%;
    height: 150px;
    width: 150px;
  }
  div.preview h2{
    padding: 0 5%;
    float: left;
  }
  div.preview h2 a{text-decoration: none; color: blue;}
  div.preview h2 a:active{color: red;}
  div.preview p{
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 100%; 
    height: 8em; 
    white-space: normal;
    display: block;
  }

  /*Article Detailed View*/
  article.detailedView{
    margin: 5%;
  }
  article.detailedView section{box-shadow: 5px 5px 5px black;}
  article.detailedView a:active{color: red;}
  article.detailedView a{text-decoration: none; color: blue;}
  article.detailedView aside img{
    height: 50%;
    width: 50%;
    float: left;
  }

  /* Layout for PADS Page */
  body div.mainContent div.pads{
    margin: 0;
    padding: 2%;
  }
  div.pads img{width: 100%;}
  div.pads pre{width: 100px;}
  body div.mainContent div.pads h2{border-bottom: 2px dotted black; border-top: 2px dotted black;}
  
  /*Shop Page*/
  /*Shop Preview*/
  .item{
    margin: 2%;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
  }
  .item a{
    color: black;
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
  }
  .item a:active{transform: scale(2, 1);}
  .item p{text-align: center;}
  .item img{
    width: 100%;
    height: 250px;
  }

  /*Shop Detailed View*/
  small.detailedView{
    width: 100%;
    margin-bottom: 2%;
		float: left;
	}
  small.detailedView a{
 		font-family: Cinzel;
		font-variant: small-caps;	
    text-decoration: none;
    margin-bottom: 2%;
  }
  small.detailedView a:nth-child(2):before{
    content: " > ";
  }
  div.imgList img.highlight{
      float: left;
      clear: left;
      width: 100%;
      margin-top: 15%;
      cursor: pointer;
      box-shadow: none;
  }
  
  div.content{display: none;}
	div.content img.imgView{
    width: 100%;
    margin-left: 2%;
    float: left;  
  } 
	div.detailedView{
    float: right;
	}
  .img-magnifier-container {
    position: relative;
  }
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }
	div.detailedView div.details{
		width: 100%;
		float: right;
	}
	div.detailedView div.details h2{
		text-align: center;
		width: 100%;
    padding: 2%;
		border: 2px solid black;
		border-radius: 25px;
		background: lightblue;
	}
  div.detailedView div.details h2 a{text-decoration: none;}
	div.detailedView div.details h3{
		margin: 0;
		padding: 0;
	}

  /*Reports Styles*/
  fieldset.pc table.data{
    text-align: center;
    width: 100%;
  }
  fieldset.pc table.data th{
    padding-bottom: .5em;
    border-bottom: 2px solid black;
  }
  fieldset.pc table.data td.sum{border-top: 2px solid black;}
  fieldset.pc table.report{
    width: 100%;
    text-align: left;
  }
  fieldset.pc table.report th{
    padding-bottom: .5em;
    width: 50%;
  }
  fieldset.pc table.report td{
    width: 50%;
    float: left;
  }
  fieldset.pc table.report td.sum{
    border-top: 2px solid black; 
    width: 50%; 
    float: right;
  }
  fieldset.pc table.assets{
    width: 50%;
    text-align: left;
    float: left;
  }
  fieldset.pc table.liab{
    width: 50%;
    text-align: left;
    float: right;
  }
  fieldset.pc table.oe{
    width: 50%;
    text-align: left;
    float: right;
  }

  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
  /* 
  ================
  For desktop: 
  ================
  */
  
  /* Generic Layout */
  body.pc{
    font-family: Zen Kurenaido, Arial;
    margin: 0 5%;
  }
  body.pc header{
    background: url("../img/wormholeLogo.png") center no-repeat;
    height: 500px;
    width: 100%;
    text-align: center;
  }
  body.pc h1.title{
    clear: both;
    text-align: center;
    font-family: Cinzel;
    font-variant: small-caps; 
    padding: 2%;
    border-bottom: 2px dotted black;
    border-top: 2px dotted black;
  }

  /* Main Nav Menu */
  nav.pc{
    width: 100%;
    height: 30px;
    position: sticky;
    top: 5px;
    z-index: 1;
    background: rgba(0, 0, 255, 0.75);
    border-radius: 25px;
    box-shadow: 5px 5px 5px inset rgba(200,200,200,0.75);
  }
  nav.pc p{float: left; width: 25%; margin: 0 2%; padding: 0;}
  nav.pc img.mobileImg{display: none;}
  nav.pc div.pcMenu{display: block; width: 100%;}
  nav.pc div.effect{
    height: 100%;
    width: 5%;
    margin: 0 2%;
    text-align: center;
    float: right;
  }
  nav.pc div.effect p{display: block; width: 100%;}
  nav.pc img.mobileIcon{display: none;}
  nav.pc div.effect a{
    color: black;
    margin: 0 2%;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
  }
  nav.pc div.effect a:hover, nav.pc div.dropdown div.effect a:hover{transform: scale(2, 1);}
  nav.pc div.effect div.beam, nav.pc div.dropdown div.effect div.beam{
    position: relative;
    display: block;
    float: right;
    clear: right;
    width: 0;
  }

  nav.pcNavSub{
    width: 100%;
    height: 30px;
    border-radius: 25px;

  }
  nav.pcNavSub div.effect{
    height: 100%;
    width: 25%;
    margin: 0 2%;
    text-align: center;
    float: left;
  }
  nav.pcNavSub div.effect a{
    color: black;
    margin: 0 2%;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
  }
  nav.pcNavSub div.effect a:hover{transform: scale(2, 1);}
  nav.pcNavSub div.effect div.beam{
    position: relative;
    display: block;
    float: right;
    clear: right;
    width: 0;
  }

  div.effect:hover div.beam{animation: beameffect forwards 1s;}
  @keyframes beameffect{
    from {}
    to{width: 100%; border-bottom: 1px solid black;}
  }
  /*Nav Dropdown for Superuser*/
  .dropdown div.dropdownContent{
    display: none;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    z-index: 1;
    position: absolute;
    top: 30px;
  }
  .dropdown:hover div.dropdownContent{
    display: block;
  }
  .dropdown div.dropdownContent li{
    list-style: none;
    cursor: pointer;
  }

  /* Login Layout */
  body div.mainContent div.login{
    width: 50%;
    margin-left: 30%;
    padding: 5%;
    text-align: center;
    border: 2px outset black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
  }

  /* Index Layout */
  body.pc div.twitchPlayer iframe{
    width: 450px;
    height: 180px;
  }


  /*About Page*/
  /*Profile Card Style*/
  .profileCard{
    margin: 5%;
    padding: 1%;
    border: 2px solid black;
    transition: 1s;
    text-align: center;

  }
  .profileCard a img{
    width: 10%;
    margin: 2%;      
  }
  .profileCard a img:hover{
    background: black;
    border-radius: 25px;
    animation: pulse 2s infinite;
  }
  @keyframes pulse{
    from  {box-shadow: 0 0 5px 0 black;}
    12.5% {box-shadow: 0 0 8px 0 black;}
    25%   {box-shadow: 0 0 10px 2px black;}
    37.5% {box-shadow: 0 0 8px 0 black;}
    50%   {box-shadow: 0 0 5px 0 black;}
    62.5% {box-shadow: 0 0 8px 0 black;}
    75%   {box-shadow: 0 0 10px 2px black;}
    87.5% {box-shadow: 0 0 8px 0 black;}
    to    {box-shadow: 0 0 5px 0 black;}
  }
  .profileCard:hover{box-shadow: 5px 5px 5px black;}

  .polaroid{
    border: 2px solid black;
    width: 30%;
    margin: 5%;
    padding: 2% 2% 10% 2%;
    box-shadow: 5px 5px 5px black;
    transform: skew(-5deg, -5deg);
    float: right;
    transition: 1s;
  }
  .polaroid .polaroidBackground{
    background: rgba(186,186,186,0.75);
  }  
  .polaroid .polaroidBackground img{
    width: 100%;
  }
  .polaroid2{
    border: 2px solid black;
    width: 30%;
    margin: 1%;
    padding: 2% 2% 10% 2%;
    box-shadow: 5px 5px 5px black;
    transform: skew(5deg, 5deg);
    float: right;
    transition: 1s;

  }
  .polaroid2 .polaroidBackground{
    background: rgba(186,186,186,0.75);

  }  
  .polaroid2 .polaroidBackground img{
    width: 100%;
  }

  /*Article Page*/
  /* Article Preview */
  div.preview{/* Generic Main Content Layout */
    height: 200px;
  }
  div.preview small{padding: 0 5%; float: left; clear: left;}
  div.preview img{
    padding-bottom: 5%;
    height: 150px;
    width: 150px;
  }
  div.preview h2{
    padding: 0 5%;
    float: left;
  }
  div.preview h2 a{text-decoration: none; color: blue;}
  div.preview h2 a:hover{color: green;}
  div.preview h2 a:active{color: red;}
  div.preview p{
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 350px; 
    height: 7.9em; 
    white-space: normal;
    display: block;
  }
  div.preview:hover{animation: articleeffect forwards 0.5s;}
  @keyframes articleeffect{
    from{}
    to{
      border-radius: 25px;
      box-shadow: 5px 5px 5px black;
    }
  }
  /*Article Detailed View*/
  article.detailedView{
    margin: 5%;
  }
  article.detailedView section{box-shadow: 5px 5px 5px black;}
  article.detailedView a:active{color: red;}
  article.detailedView a:hover{color: green;}
  article.detailedView a{text-decoration: none; color: blue;}
  article.detailedView aside img{
    height: 50%;
    width: 50%;
    float: left;
  }

   /* Layout for PADS Page */
   body div.mainContent div.pads{
    margin: 0 10%;
    padding: 2%;
  }
  body div.mainContent div.pads h2{border-bottom: 2px dotted black; border-top: 2px dotted black;}


   /* Layout for PADS Page */
   body div.mainContent div.pads{
    margin: 0 10%;
    padding: 2%;
  }
  body div.mainContent div.pads h2{border-bottom: 2px dotted black; border-top: 2px dotted black;}

  /*Shop Page*/
  /*Shop Preview*/
  .item{
    margin: 2%;
    padding: 1%;
    border: 2px solid black;
    transition: 0.5s;
  }
  .item a{
    color: black;
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
  }
  .item a:hover{transform: scale(2, 1);}
  .item p{text-align: center;}
  .item img{
    width: 100%;
    height: 250px;
  }
  .item:hover{box-shadow: 5px 5px 5px black;}

  /*Shop Detailed View*/
  small.detailedView{
    width: 100%;
    margin-bottom: 2%;
		float: left;
	}
  small.detailedView a{
 		font-family: Cinzel;
		font-variant: small-caps;	
    text-decoration: none;
    margin-bottom: 2%;
  }
  small.detailedView a:nth-child(2):before{
    content: " > ";
  }
  div.imgList img.highlight{
      float: left;
      clear: left;
      width: 100%;
      margin-top: 15%;
      cursor: pointer;
      box-shadow: none;
  }
  div.imgList img.highlight:hover{
    animation: shadow 5s infinite;
  }
  @keyframes shadow{
    from  {box-shadow: 2px 2px 2px black;}
    12.5% {box-shadow: 2px 2px 5px black;}
    25%   {box-shadow: 2px 2px 10px black;}
    37.5% {box-shadow: 2px 2px 5px black;}
    50%   {box-shadow: 2px 2px 2px black;}
    62.5% {box-shadow: 2px 2px 5px black;}
    75%   {box-shadow: 2px 2px 10px black;}
    87.5% {box-shadow: 2px 2px 5px black;}
    to    {box-shadow: 2px 2px 2px black}
  }
  
  div.content{display: none;}
	div.content img.imgView{
    width: 100%;
    margin-left: 2%;
    float: left;  
  } 
	div.detailedView{
    float: right;
	}
  .img-magnifier-container {
    position: relative;
  }
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }
	div.detailedView div.details{
		width: 100%;
		float: right;
	}
	div.detailedView div.details h2{
		text-align: center;
		width: 50%;
		border: 2px solid black;
		border-radius: 25px;
		background: lightblue;
	}
  div.detailedView div.details h2 a{text-decoration: none;}
	div.detailedView div.details h3{
		margin: 0;
		padding: 0;
	}

  /*Reports Styles*/
  fieldset.pc table.data{
    text-align: center;
    width: 100%;
  }
  fieldset.pc table.data th{
    padding-bottom: .5em;
    border-bottom: 2px solid black;
  }
  fieldset.pc table.data td.sum{border-top: 2px solid black;}
  fieldset.pc table.report{
    width: 100%;
    text-align: left;
  }
  fieldset.pc table.report th{
    padding-bottom: .5em;
    width: 50%;
  }
  fieldset.pc table.report td{
    width: 50%;
    float: left;
  }
  fieldset.pc table.report td.sum{
    border-top: 2px solid black; 
    width: 50%; 
    float: right;
  }
  fieldset.pc table.assets{
    width: 50%;
    text-align: left;
    float: left;
  }
  fieldset.pc table.liab{
    width: 50%;
    text-align: left;
    float: right;
  }
  fieldset.pc table.oe{
    width: 50%;
    text-align: left;
    float: right;
  }

  /* Footer Layout */
  footer{
    font-family: Cinzel;
    font-variant: small-caps;
    font-family: 20px;
    width: 100%;
    margin: 10px;
    clear: both;
  }
  footer small{width: 25%;}
  footer small a{color: blue; text-decoration: none;}
  footer small a:hover{color: black;}
  footer small a:active{color: red;}
  footer p{font-size: 15px; clear: both;}
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
