{% extends 'base.html' %}
{% load static %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}
{% block title %}Production Work List | Army Glass{% endblock %}

{% block content %}
		<div class="col-4 col-s-4 col-m-12">
			<h1>Production Work</h1>
			{% for pr in object_list %}
			<div class="item">
				<img src="{{ pr.image.url }}">
				<p>{{ pr.model }}<br>${{ pr.msrp }}</p>
				<a href="{{ pr.snid }}">Details</a>
			</div>
			{% empty %}
				<p>There is no Production Work in the Catalog.</p>
			{% endfor %}
		</div>
{% endblock %}
