<a href="{% url 'logout' %}" title="Get the Fuck outta heeeere">Log Out</a>
<div class="dropdown">
    <a href="#">Data</a>
    <div class="dropdownContent">
        <a href="{% url 'inventory' %}" title="View your entire Inventory">Inventory</a>
        <a href="{% url 'ff' %}" title="View your equipment, etc.">F&F</a>
        <a href="{% url 'assets' %}" title="View your assets">Assets</a>
        <a href="{% url 'liabilities' %}" title="View your liabilities">Liabilities</a>
        <a href="{% url 'revexpoe' %}" title="View your Revenue, Expenses, and Owners Equity">RevExpOE</a>
        <a href="{% url 'reports' %}" title="View your Income Report, Statement of Owners Equity, and Balance Sheet">Reports</a>
        <a href="{% url 'admin:index' %}" target="_blank" title="Go to the backend">Admin</a>
    </div>
</div>
